@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500;600;700&display=swap");

:root {
  --font-sans: "Inter", sans-serif;
  --font-sans-size: 1.2rem;
  --font-sans-weight: 400;
  --font-mono: "Red Hat Mono", monospace;
  --font-mono-size: 0.8rem;
  --font-mono-weight: 400;
  --color-background: #191d2b;
  --color-highlight: #6d9e6b;
  --color-highlight-transparent: #6d9e6b4d;
  --color-white: #ffffff;
  --color-black: #000;
  --color-black-transparent-1: rgba(0, 0, 0, 0.8);
  --color-black-transparent-2: rgba(0, 0, 0, 0.6);
  --color-black-transparent-3: rgba(0, 0, 0, 0.4);
  --color-black-transparent-4: rgba(0, 0, 0, 0.2);
  --color-white-transparent-1: rgba(255, 255, 255, 0.8);
  --color-white-transparent-2: rgba(255, 255, 255, 0.6);
  --color-white-transparent-3: rgba(255, 255, 255, 0.4);
  --color-white-transparent-4: rgba(255, 255, 255, 0.2);
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --border-radius-sm: 4px;
  --box-shadow-1: 0px 3px 15px rgba(0, 0, 0, 0.3);
  --transition-general: all 0.4s ease-in-out;
  --transition-links: all 0.3s ease 0s;
}

/* General Tag Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--color-white);
  background-color: var(--color-background);
  font-family: var(--font-sans);
  font-size: var(--font-sans-size);
  font-weight: var(--font-sans-weight);
}
h1 {
  font-family: var(--font-sans);
  font-size: 4.2rem;
  font-weight: 600;
}
h2 {
  font-family: var(--font-sans);
  font-size: 3rem;
  font-weight: 600;
}
h3 {
  font-family: var(--font-sans);
  font-size: 2.5rem;
  font-weight: 500;
}
h4 {
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 500;
}
h5 {
  font-family: var(--font-sans);
  font-size: 1.5rem;
  font-weight: 400;
}
h6 {
  font-family: var(--font-sans);
  font-size: 1.2rem;
  font-weight: 400;
}
p {
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 40px 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-family: var(--font-mono);
  font-size: var(--font-mono-size);
  font-weight: var(--font-mono-weight);
  transition: var(--transition-links);
}
a:hover {
  color: var(--color-highlight);
}
button {
  text-decoration: none;
  background-color: transparent;
  font-family: var(--font-mono);
  font-size: var(--font-mono-size);
  font-weight: 600;
  color: var(--color-highlight);
  padding: 8px 12px;
  border: 1px solid var(--color-highlight);
  border-radius: var(--border-radius-sm);
  transition: var(--transition-links);
}
button:hover {
  background-color: var(--color-highlight-transparent);
}
ol,
ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
}
li {
  text-decoration: none;
}

/* General Classes */
.text-color {
  color: var(--color-secondary);
}
.text-primary {
  color: var(--color-grey-1);
}
.text-secondary {
  color: var(--color-grey-3);
}

/*--- Content Styles ---*/

/* Header */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  background-color: var(--color-black-transparent-4);
}
.logo {
  margin-right: auto;
}
.img-logo {
  height: 50px;
}
.nav-links li {
  display: inline-block;
  font-family: var(--font-mono);
  font-size: var(--font-mono-size);
  font-weight: var(--font-mono-weight);
  padding: 12px 20px;
}
.header-btn {
  margin-left: 20px;
}

/* Main */
section {
  min-height: 100vh;
  padding: 10% 10%;
}
