@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
:root {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
  --font-weight-heavy: 600;
  --font-weight-regular: 400;
  --font-weight-light: 200;
  --font-size-xxl: 80px;
  --font-size-xl: 32px;
  --font-size-lg: 20px;
  --font-size-md: 18px;
  --font-size-sm: 16px;
  --font-size-xs: 13px;
  --font-size-xxs: 12px;
}

:root {
  --color-background: #0a192f;
  --color-highlight: #a35f44;
  --color-highlight-transparent: #a35f4433;
  --color-primary: #ccd6f6;
  --color-secondary: #8892b0;
  --color-decorations: #233554;
  --color-white: #ffffff;
  --color-black: #000;
  --color-black-transparent-1: rgba(0, 0, 0, 0.8);
  --color-black-transparent-2: rgba(0, 0, 0, 0.6);
  --color-black-transparent-3: rgba(0, 0, 0, 0.4);
  --color-black-transparent-4: rgba(0, 0, 0, 0.2);
  --color-white-transparent-1: rgba(255, 255, 255, 0.8);
  --color-white-transparent-2: rgba(255, 255, 255, 0.6);
  --color-white-transparent-3: rgba(255, 255, 255, 0.4);
  --color-white-transparent-4: rgba(255, 255, 255, 0.2);
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
}

:root {
  --border-radius-sm: 4px;
  --box-shadow-1: 0px 3px 15px rgba(0, 0, 0, 0.3);
  --transition-general: all 0.4s ease-in-out;
  --transition-links: all 0.3s ease 0s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-regular);
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  font-weight: var(--font-weight-heavy);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  -webkit-transition: var(--transition-links);
  transition: var(--transition-links);
}

a:hover {
  color: var(--color-highlight);
}

p {
  line-height: 2rem;
  margin-top: 20px;
}

p a {
  text-decoration-skip-ink: auto;
  position: relative;
  -webkit-transition: var(--transition-links);
  transition: var(--transition-links);
  color: var(--color-highlight);
}

p a::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: var(--color-highlight);
  width: 0;
  left: 50%;
  bottom: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

p a:hover::after {
  width: 100%;
}

ol,
ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
}

li {
  text-decoration: none;
}

.text-color-highlight {
  color: var(--color-highlight);
}

.text-color-secondary {
  color: var(--color-secondary);
}

.text-mono {
  font-family: var(--font-mono);
}

.font-xxl {
  font-size: var(--font-size-xxl);
}

.font-xl {
  font-size: var(--font-size-xl);
}

.font-lg {
  font-size: var(--font-size-lg);
}

.font-md {
  font-size: var(--font-size-md);
}

.font-sm {
  font-size: var(--font-size-sm);
}

.font-xs {
  font-size: var(--font-size-xs);
}

.font-xxs {
  font-size: var(--font-size-xxs);
}

.font-wg-heavy {
  font-weight: var(--font-weight-heavy);
}

::before,
::after {
  background-color: var(--color-decorations);
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  font-family: var(--font-mono);
  font-size: inherit;
  -webkit-transition: var(--transition-links);
  transition: var(--transition-links);
  border: 0px;
}

button.btn-regular {
  color: var(--color-highlight);
  padding: 8px 10px;
  border: 1px solid var(--color-highlight);
  border-radius: var(--border-radius-sm);
}

button.btn-regular:hover {
  background-color: var(--color-highlight-transparent);
}

button.btn-tab {
  color: var(--color-secondary);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 100%;
  height: 42px;
  padding: 0px 20px 2px;
  border-left: 2px solid var(--color-decorations);
  font-weight: inherit;
}

button.btn-tab.active {
  border-left: 2px solid var(--color-highlight);
}

button.btn-tab:hover {
  color: var(--color-highlight);
  background-color: var(--color-highlight-transparent);
}

header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  padding: 0 50px;
  background-color: var(--color-black-transparent-4);
}

header .logo {
  margin-right: auto;
}

header .logo .img-logo {
  height: 50px;
}

header .nav-links li {
  display: inline-block;
  padding: 8px 12px;
}

header .header-btn {
  margin-left: 15px;
}

.left-fixed {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
}

.left-fixed .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-fixed a {
  padding: 10px;
}

.left-fixed a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.left-fixed li:last-of-type {
  margin-bottom: 20px;
}

.left-fixed::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
}

.right-fixed {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
}

.right-fixed .mail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-fixed .mail-container a {
  font-weight: var(--font-weight-light);
  margin: 20px auto;
  padding: 10px;
  letter-spacing: 3px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.right-fixed .mail-container a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.right-fixed::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
}

main {
  display: block;
  margin: 0px auto;
  padding: 0px 150px;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
}

section {
  max-width: 1000px;
  margin: 0px auto;
  padding: 100px 0px;
}

section .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 10px 0px 40px;
}

section .section-title span {
  font-size: var(--font-size-lg);
}

section .section-title h2 {
  font-size: var(--font-size-xl);
  margin-left: 10px;
  margin-right: 25px;
}

section .section-title::after {
  content: "";
  display: block;
  position: relative;
  top: -10px;
  width: 300px;
  height: 1px;
}

#sec-00-home {
  min-height: 100vh;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sec-00-home p {
  max-width: 540px;
}

#sec-00-home > a {
  margin-top: 50px;
}

#sec-01-about {
  max-width: 900px;
}

#sec-01-about .inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  gap: 50px;
}

#sec-02-experience {
  max-width: 700px;
}

#sec-02-experience .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sec-02-experience .inner .tablist {
  position: relative;
  z-index: 3;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#sec-02-experience .inner .panel-experience {
  margin-left: 20px;
}

#sec-02-experience .inner .panel-experience .job {
  width: 100%;
  height: auto;
  padding: 10px 5px;
  display: none;
}

#sec-02-experience .inner .panel-experience .job.active {
  display: block;
}
/*# sourceMappingURL=styles.css.map */